.vertical-menu {
  width: 180px;
  position: fixed;
  top: 40%;
  left: 0px;
  font-size: 18px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  top-padding: 0px;
  padding:14px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: black;
  color:white;
}

.topnav {
  background-color: #eee;
  overflow: hidden;
  width:100%;
  position: fixed;
  margin-left: 100px;
  top: 0;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 56px 0px 10px;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  display: inline-block;
}


 a.logo {
  background-color: white;
  top: 15px;
}

.contact-me{
  width: 100%;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-me p{
  color: #000000;
  font-size: 40px;
  font-family: calibri;
  font-weight: bold;
  text-align: center;
}

